<p-panel header="Basic Pipes" class="p-1">
	<p>
		Included Pipes in Angular - Usually in Common Module
	</p>
</p-panel>

<div class="grid mt-2">
	<div class="col-12 md:col-4">
		<p-card header="Uppercase">
			{{ nameLower | uppercase }}
		</p-card>
	</div>
	<div class="col-12 md:col-4">
		<p-card header="Lowercase">
			{{ nameUpper | lowercase }}
		</p-card>
	</div>
	<div class="col-12 md:col-4">
		<p-card header="Titlecase">
			{{ fullName | titlecase }}
		</p-card>
	</div>

	<div class="col-12 md:col-6">
		<p-card header="Date">
			<ol>
				<li> Date </li>
				<li> Date | date </li>
				<li> Date | date: "short" </li>
				<li> Date | date: "long" </li>
				<li> Date | date: "MMMM" </li>
				<li> Date | date: "MMMM dd, yyyy" </li>
			</ol>

			<hr>

			<ol>
				<li> Date | date: "long" : "GMT-6" </li>
				<li> Date | date: "long" : "GMT-4" </li>
				<li> Date | date :"long" : "" : "es" </li>
				<li> Date | date :"long" : "" : "fr" </li>
				<li> Date | date :"long" : "" : "pt" </li>
				<li> Date | date :"long" : "" : "ko" </li>
				<li> Date | date :"long" : "" : "zh" </li>
			</ol>

		</p-card>
	</div>
	<div class="col-12 md:col-6">
		<p-card header="Date converted">
			<ol>
				<li> {{ customDate }} </li>
				<li> {{ customDate | date }} </li>
				<li> {{ customDate | date: "short" }} </li>
				<li> {{ customDate | date: "long" }} </li>
				<li> {{ customDate | date: "MMMM" }} </li>
				<li> {{ customDate | date: "MMMM dd, yyyy" }} </li>
			</ol>

			<hr>

			<ol>
				<li> {{ customDate | date :"long" : "GMT-6" }} </li>
				<li> {{ customDate | date :"long" : "GMT-4" }} </li>
				<li> {{ customDate | date :"long" : "" : "es" }} </li>
				<li> {{ customDate | date :"long" : "" : "fr" }} </li>
				<li> {{ customDate | date :"long" : "" : "pt" }} </li>
				<li> {{ customDate | date :"long" : "" : "ko" }} </li>
				<li> {{ customDate | date :"long" : "" : "zh" }} </li>
			</ol>
		</p-card>
	</div>
</div>
